language: julia
os:
  - linux
julia:
  - 0.4
notifications:
  email: false

before_install:
  - sudo apt-get update -qq -y
  - sudo apt-get install libwcs4 -y

script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.build("GSL"); Pkg.build("Celeste")'
  - julia -e 'Pkg.test("Celeste"; coverage=(VERSION < v"0.4"))'

after_success:
  - julia -e 'if VERSION < v"0.4" cd(Pkg.dir("Celeste")); Pkg.add("Coverage");
        using Coverage; Coveralls.submit(Coveralls.process_folder()) end'
