language: julia
os:
  - linux
julia:
  - 0.5
notifications:
  email: false

before_install:
  - sudo apt-get update -qq -y
  - sudo apt-get install libwcs4 -y
  - sudo apt-get install libcfitsio3 -y
  - sudo apt-get install mpich2 libmpich2-3 libmpich2-dev -y
  - sudo apt-get install openmpi-bin openmpi-common libopenmpi-dev mpi-default-dev -qq -y

script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.build("Celeste")'
  - julia -e 'Pkg.checkout("Optim", "master")'
  - julia -e 'Pkg.test("Celeste"; coverage=(VERSION < v"0.4"))'

after_success:
  - julia -e 'if VERSION < v"0.4" cd(Pkg.dir("Celeste")); Pkg.add("Coverage");
        using Coverage; Coveralls.submit(Coveralls.process_folder()) end'
