language: julia
os:
  - linux
julia:
  - release
notifications:
  email: false

script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("GSL"); Pkg.build("Celeste"); Pkg.test("Celeste"; coverage=true)'

after_success:
  - julia -e 'cd(Pkg.dir("Celeste")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
